<section>
  <app-hero-section></app-hero-section>
</section>

<section>
  <div class='container'>
    <div class='row mb-3'>
      <div class='col'>

        <div id="accordion" role="tablist">
          <div class="block mb-3" *ngFor='let task of tasks'>
            <div [attr.id]="'heading'+task._id" role="tab" class="block-header">
              <strong>
                <a
                  data-toggle="collapse" 
                  [attr.href]="'#collapse'+task._id" 
                  aria-expanded="true" 
                  [attr.aria-controls]="'collapse'+task._id" 
                  class="accordion-link">{{task.name}}</a>
              </strong>
            </div>

            <div
              [attr.id]="'collapse'+task._id" 
              role="tabpanel" 
              [attr.aria-labelledby]="'heading'+task._id" 
              data-parent="#accordion" 
              class="collapse">
              <div class='row block-body'>
                <div class='col-md-9'>
                  <p class='text-muted'>
                  {{task.description}} 
                  </p>
                </div>
                <div class='col-md-3'>
                  <a 
                    class='btn btn-outline-dark float-right' 
                    routerLink="/whiterabbit/tasks/{{task._id}}/edit"
                    >Edit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>        
    </div>
  </div>
</section>
