
	<section data-parallax="scroll" data-image-src="/assets/img/photo/image3.jpg" data-speed="0.5" data-position-x='center' data-bleed="20" class="h-100vh light-overlay light-overlay-lg-0 d-flex align-items-center text-dark text-right">
		<div class="container">
			<div class="row">
				<div class="col-12 py-5 overflow-hidden overlay-content mx-auto">
					<h5 class="text-uppercase font-weight-normal mb-4 letter-spacing-5">Become a Member</h5>
					<h4 class="display-4 font-weight-bold text-uppercase">Starting At<br/>$34.95</h4>
					<h5 class="mb-5 font-weight-normal text-uppercase">Per Month</h5>
					<h5 class="mb-5 font-weight-normal text-uppercase">Get a New Jura<br/>Uses Whole Beans<br/>Better Than the Cafe<br/>Buy or Return Anytime</h5>
					<p><a class="btn btn-dark" href="/users/machines/add">Get A Machine</a></p>
				</div>
			</div>
		</div>
	</section>
	<section class="h-100vh d-flex align-items-center text-dark text-center text-md-right light-overlay light-overlay-lg-0" data-parallax="scroll" data-speed="0.5" data-position-x="left" data-bleed="20">
		<div class="container">
			<header class="text-center">
				<h6 class="text-uppercase mb-5">Machines Used By</h6> </header>
			<div class="row">
				<!-- product-->
				<div class="col-lg-3 col-md-3 col-3">
					<div class="product">
						<div class="product-image"> <img src="/assets/img/photo/ironman.jpg" alt="product" class="img-fluid" />
							<div class="product-hover-overlay">
								<a href="machines" class="product-hover-overlay-link"></a>
								<div class="product-hover-overlay-buttons"><a href="machines" class="btn btn-dark btn-buy"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Ironman</span></a> </div>
							</div>
						</div>
					</div>
				</div>
				<!-- /product-->
				<!-- product-->
				<div class="col-lg-3 col-md-3 col-3">
					<div class="product">
						<div class="product-image"><img src="/assets/img/photo/modernfamily.jpg" alt="product" class="img-fluid" />
							<div class="product-hover-overlay">
								<a href="machines" class="product-hover-overlay-link"></a>
								<div class="product-hover-overlay-buttons"><a href="machines" class="btn btn-dark btn-buy"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Modern Family</span></a> </div>
							</div>
						</div>
					</div>
				</div>
				<!-- /product-->
				<!-- product-->
				<div class="col-lg-3 col-md-3 col-3">
					<div class="product">
						<div class="product-image"> <img src="/assets/img/photo/samantha.jpg" alt="product" class="img-fluid" />
							<div class="product-hover-overlay">
								<a href="machines" class="product-hover-overlay-link"></a>
								<div class="product-hover-overlay-buttons"><a href="machines" class="btn btn-dark btn-buy"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Samantha Brown</span></a> </div>
							</div>
						</div>
					</div>
				</div>
				<!-- /product-->
				<!-- product-->
				<div class="col-lg-3 col-md-3 col-3">
					<div class="product">
						<div class="product-image"> <img src="/assets/img/photo/grandtour.jpg" alt="product" class="img-fluid" />
							<div class="product-hover-overlay">
								<a href="machines" class="product-hover-overlay-link"></a>
								<div class="product-hover-overlay-buttons"><a href="machines" class="btn btn-dark btn-buy"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Grand Tour</span></a> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 overlay-content">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Mot4CA0JuAY" allowfullscreen="allowfullscreen" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-4 d-none d-md-block overlay-content">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0tv7Qurtj3A" allowfullscreen="allowfullscreen" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
					</div>
				</div>
				<div class="col-4 d-none d-lg-block overlay-content">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MzMHIN7zFBM" allowfullscreen="allowfullscreen" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="h-100vh light-overlay light-overlay-lg-0 d-flex align-items-center text-dark text-left text-md-left" data-parallax="scroll" data-image-src="/assets/img/photo/chocolatebars.jpeg" data-speed="0.5" data-position-x="left" data-bleed="20">
		<div class="container">
			<div class="row">
				<div class="col-12 py-5 overflow-hidden overlay-content mx-auto">
					<h5 class="text-uppercase text-dark font-weight-normal mb-4 letter-spacing-5">Easy Meaningful Gift</h5>
					<h1 class="mb-3 display-3 font-weight-bold text-uppercase">Chocolate Mail</h1>
					<p class="h3 font-weight-normal mb-5">Instantly send a photo and chocolate in the mail.</p>
					<p><a class="btn btn-dark" href="/messages/new">Send A Message</a></p><img class="img-fluid" src="/assets/img/photo/familyplaying.png" width="250px" /></div>
			</div>
		</div>
	</section>
	<section class="h-100vh light-overlay light-overlay-lg-0 d-flex align-items-center text-light text-left text-md-right" data-parallax="scroll" data-image-src="/assets/img/photo/yogabeach.jpg" data-speed="0.5" data-position-x="left" data-bleed="20">
		<div class="container">
			<div class="row">
				<div class="col-12 py-5 overflow-hidden overlay-content mx-auto"><img class="img-fluid mb-4" src="/assets/img/photo/hello-25cover.png" width="20%" />
					<h5 class="text-uppercase font-weight-normal mb-4 text-dark letter-spacing-5">Our Latest Book</h5>
					<h1 class="mb-3 display-3 font-weight-bold text-uppercase text-dark">Hello!</h1>
					<p class="h3 font-weight-normal mb-5 text-dark">Extraterrestrials explain how to get what you want.</p>
					<p><a class="btn btn-dark" href="https://www.amazon.com/Hello-Attraction-Strategies-Apply-Stuck/dp/B08HTM7YDB">Buy on Amazon</a></p>
				</div>
			</div>
		</div>
	</section>
	<section class="h-100vh light-overlay light-overlay-lg-0 d-flex align-items-center text-dark text-left text-md-right" data-parallax="scroll" data-image-src="/assets/img/photo/bluebackground3thanks.jpg" data-speed="0.5" data-position-x="left" data-bleed="20">
		<div class="container">
			<div class="row">
				<div class="col-12 py-3 overflow-hidden overlay-content mx-auto">
					<h5 class="text-uppercase text-dark font-weight-normal mb-4 letter-spacing-5">Build Passionate Teams</h5>
					<h1 class="mb-3 display-3 font-weight-bold text-uppercase">Thanks</h1>
					<p class="h4 font-weight-normal mb-5">A simple app where team members
						<br/>can thank each other,
						<br/>share ideas, and win prizes.</p>
					<p><a class="btn btn-dark" href="https://www.th8nks.com">www.th8nks.com</a></p>
				</div>
			</div>
		</div>
    </section>
    <script src="/assets/vendor/jquery-parallax.js/parallax.js"></script>

