<table class="table table-borderless table-hover table-responsive-md">
  <thead class="bg-light">
    <tr>
      <th class="py-4 text-uppercase text-sm">Machine</th>

      <th class="py-4 text-uppercase text-sm">Price</th>

      <th class="py-4 text-uppercase text-sm">Status</th>
    </tr>
  </thead>

  <tbody>
    <tr id="machine-6042848bc1e23e6232527db5">
      <th class="py-4 align-middle">
        <div class="d-flex align-items-center">
          <a href=
          "/users/604e20aab036498326a76cab/machines/6042848bc1e23e6232527db5/view">
          <img class="cart-item-img" src=
          "http://localhost:5000/img/photo/personalmachine.jpg" alt=
          "Machine photo" width="80" height="80" /></a>

          <div class="cart-title text-left">
            <a class="text-uppercase text-dark machine-name" href=
            "/users/604e20aab036498326a76cab/machines/6042848bc1e23e6232527db5/view">
            Jura ENA Micro 90</a><br />
            <span class="text-muted text-sm" id=
            "machineSerial-6042848bc1e23e6232527db5">ENAMICRO90_D5</span>
          </div>
        </div>
      </th>
      <td class="py-4 align-middle">$49.95/month</td>
      <td class="py-4 align-middle"></td>
    </tr>
  </tbody>
</table>
