<header class="header">
  <!-- Navbar-->
  <!-- Navbar-->
  <nav class="navbar navbar-expand-lg navbar-sticky navbar-airy navbar-light bg-white bg-fixed-white">
    <div class="container-fluid">
      <!-- Navbar Header  -->
      <a class="navbar-brand" href="/">
        <div class="font-weight-bold text-uppercase text-md text-dark">Breadstand</div>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item dropdown"><a class="nav-link active" id="coffeeDropdownMenuLink" href="index.html" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Jura Coffee<i class="fa fa-angle-down"></i></a>
            <div class="dropdown-menu" aria-labelledby="coffeeDropdownMenuLink"><a class="dropdown-item" href="/users/machines/add">Get Machine</a><a class="dropdown-item" href="/users/machines">Your Machines</a><a class="dropdown-item" href="/users/invoices">Your Invoices</a><a class="dropdown-item" href="/users/paymentmethods">Your Payment Methods</a></div>
          </li>
          <li class="nav-item dropdown"><a class="nav-link active" id="messagesDropdownMenuLink" href="index.html" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chocolate Mail<i class="fa fa-angle-down"></i></a>
            <div class="dropdown-menu" aria-labelledby="messagesDropdownMenuLink"><a class="dropdown-item" href="/messages/new">New Message</a><a class="dropdown-item" href="/messages">Sent Messages</a></div>
          </li>
          <li class="nav-item"><a class="nav-link" href="/thanks/">th8nks.com</a></li>
          <li class="nav-item"><a class="nav-link" href="/whiterabbit">White Rabbit </a></li>
          <li class="nav-item dropdown"><a class="nav-link" id="adminDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin<i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu" aria-labelledby="adminDropdownMenuLink">
              <li><a class="dropdown-item" href="/machines">Machines</a></li>
              <li><a class="dropdown-item" href="/messages?all=true">Messages</a></li>
              <li><a class="dropdown-item" href="/products">Products</a></li>
              <li><a class="dropdown-item" href="/thanks/teams">Teams</a></li>
              <li><a class="dropdown-item" href="/users">Users</a></li>
              <li><a class="dropdown-item" href="/machines/waitlist">Waitlist</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active" id="accountDropdownMenuLink" href="" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img class="img-fluid rounded-circle customer-image p-0 mb-0" src="" width="25" height="25" /></a>
            <ul class="dropdown-menu" aria-labelledby="accountDropdownMenuLink">
              <!--
              <li><a class="dropdown-item" href="/users/604e20aab036498326a76cab/edit-profile">Profile</a></li>
              <li><a class="dropdown-item" href="/users/604e20aab036498326a76cab/addresses">Addresses</a></li>
              <li><a class="dropdown-item" href="/users/604e20aab036498326a76cab/invoices">Invoices</a></li>
              <li><a class="dropdown-item" href="/users/604e20aab036498326a76cab/machines">Machines</a></li>
              <li><a class="dropdown-item" href="/messages">Messages</a></li>
              <li><a class="dropdown-item" href="/users/604e20aab036498326a76cab/paymentmethods">Payment Methods</a></li>
              <li><a class="dropdown-item" href="/users/604e20aab036498326a76cab/edit">Edit</a></li>
              <li><a class="dropdown-item" href="/users/604e20aab036498326a76cab/history">History</a></li>
              <li><a class="dropdown-item" href="/logout">Log Out</a></li> -->
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- /Navbar -->
</header>

<router-outlet></router-outlet>
